.question {
    max-width: 600px;
    min-width: 600px;
    color: #fff;
}

.question > .title {
    border: 2px solid #fff;
    padding: 20px;
    text-align: center;
}

.question > ul {
    list-style: none;
    display: grid;
    grid-template-columns: 50% 50%;
}

.question > ul li {
    border: 1px solid #fff;
    padding: 10px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.question > ul li .answer-number {
    margin-right: 20px;
    font-size: 20px;
}

.question > ul li:hover {
    background-color: #00f;
}

.question > ul li:active {
    background-color: #00f7;
}

.question > ul li.correct {
    background-color: #0f0;
}

.question > ul li.wrong {
    background-color: #f00;
}

.question > .question-msg {
    text-align: center;
}